<div class="cabecero">
    <div class="presupuesto">
        <div class="presupuesto_titulo">
            Presupuesto Disponible:
        </div>
        <div class="presupuesto_valor"> {{totalBudget | currency:'ARS':'$':'1.2-2'}} </div>
        <div class="presupuesto_ingreso limpiarEstilos">
            <div class="presupuesto_ingreso--texto">Ingresos</div>
            <div class="float-end">
                <div class="presupuesto_ingreso--valor"> {{totalIngress | currency:'ARS':'$':'1.2-2'}} </div>
                <div class="presupuesto_ingreso--porcentaje">&nbsp;</div>
            </div>
        </div>
        
        <div class="presupuesto_egreso limpiarEstilos">
            <div class="presupuesto_egreso--text">Egresos</div>
            <div class="float-end limpiarEstilos">
                <div class="presupuesto_egreso--valor mr-1"> -{{totalEgress | currency:'ARS':'$':'1.2-2'}} </div>
                <div class="presupuesto_egreso--porcentaje"> {{totalPercentage | percent:'1.2-2'}}</div>
            </div>
        </div>
    </div>
  </div>