<div class="ingreso">
    <h2 class="ingreso_titulo">Ingresos</h2>    
        <div *ngFor="let ingres of ingress" class="elemento limpiarEstilos">
            <div class="elemento_descripcion">{{ingres.description}}</div>
            <div class="right limpiarEstilos">
                <div class="elemento_valor">+ {{ingres.value | currency:'ARS':'$':'1.2-2'}}</div>
                <div class="elemento_eliminar">
                    <button class="elemento_eliminar--btn">
                        <i class="ion-ios-close-outline" (click)="deleteRecord(ingres)"></i>
                    </button>
                </div>
            </div>
        </div>
</div>